body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #38bdf8;
    color: black;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #1e293b;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
